* {
  box-sizing: border-box;
}

.frame1912054059 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 758px;
  height: 423px;

  .frame2 {
    display: flex;
    align-items: center;
    width: 285px;

    .wrapper {
      display: inline-flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--Line-color-border-3, #dde2e9);
      border-radius: 4px 0px 0px 4px;
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 5px 12px;
      overflow: hidden;

      .text {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0.04px;
        color: var(--Text-color-text-2, #42464e);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }
    }

    .frame {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 4px;
      border-radius: 0px 4px 4px 0px;
      box-shadow: var(
        --shadow-Assembly-Data-entry-default,
        0px 0px 0px 1px #dde2e9
      );
      background: var(--Fill-color-bg-white, #ffffff);
      padding: 6px 12px 6px 6px;
      height: 32px;
      overflow: hidden;

      .close {
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        overflow: hidden;
      }

      .layoutBlocksHorizont {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 6px;
        height: 32px;

        .frame1321314933 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          border-radius: 4px;
          box-shadow: var(
            --shadow-Assembly-Data-entry-default,
            0px 0px 0px 1px #dde2e9
          );
          background: var(--Background-color-bg-4, #f6f8fa);
          padding-right: 6px;
          padding-left: 6px;

          .text2 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0.04px;
            color: var(--Text-color-text-2, #42464e);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .iconWrapper {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            overflow: hidden;
          }
        }

        .instance {
          display: inline-flex;
          flex-shrink: 0;
          align-items: flex-end;
          column-gap: 10px;
          outline-width: 1px;
          outline-style: solid;
          outline-color: var(--Line-color-border-2, #eaedf1);
          border-radius: 20px;
          background: var(--Text-color-white, #ffffff);
          padding-right: 8px;
          padding-left: 8px;
          overflow: hidden;

          .a1 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0.04px;
            color: var(--Fill-color-fill-2, #737a87);
            font-family: Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .frame9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 4px;
    margin-right: -240px;
    border-radius: 8px;
    box-shadow: var(--shadow-Border-all, 0px 0px 0px 1px #eaedf1);
    background: var(--Fill-color-bg-white, #ffffff);
    height: 387px;
    overflow: hidden;

    .text3 {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: 0.04px;
      color: var(--Text-color-text-1, #0c0d0e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .frame1912054060 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 16px;
      border-width: 0px 0px 1px;
      border-style: solid;
      border-color: var(--Line-color-border-2, #eaedf1);
      background: var(--Background-hover-color-bg-3, #fafbfc);
      padding: 10px 10px 9px 18px;

      .instance2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: flex-start;
        column-gap: 10px;
        border-radius: 20px;
        box-shadow: inset 0px 1px 1px 0px #00000014;
        background: var(--Fill-color-fill-1, #c7ccd6);
        padding: 3px 15px 3px 3px;
        overflow: hidden;

        .ellipse {
          flex-shrink: 0;
          border-radius: 50%;
          box-shadow: 0px 1px 4px 0px #00000026, 0px 1px 0px 0px #14141414;
          background: var(--Fill-color-bg-white, #ffffff);
          width: 10px;
          height: 10px;
        }
      }

      .frame1912054056 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
      }

      .frame1912054057 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
      }
    }

    .frame1912054058 {
      display: inline-flex;
      flex-grow: 1;
      align-items: center;
      align-self: stretch;

      .frame1912054054 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;

        .frame3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 2px;
          box-shadow: var(
            --shadow-Assembly-Data-entry-Hover--Selected--,
            0px 1px 1px 0px #00000014,
            0px 0px 0px 1px #1664ff
          );
          background: var(--Primary-Color-primary-6, #1664ff);
          padding: 6px 2px;
          overflow: hidden;

          .rectangle362 {
            border-radius: 1px;
            background: var(--Text-color-white, #ffffff);
            width: 9px;
            height: 2px;
          }
        }

        .frame1410097688 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: var(--Line-color-border-2, #eaedf1);
          background: var(--Fill-color-bg-white, #ffffff);
          padding: 10px 580px 9px 18px;

          .text4 {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: 0.04px;
            color: var(--Text-color-text-2, #42464e);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
          }
        }

        .frame8 {
          display: inline-flex;
          position: relative;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 4px;
          overflow: hidden;

          .frame4 {
            flex-shrink: 0;
            border-radius: 2px;
            width: 14px;
            height: 14px;
            overflow: hidden;
          }

          .rowLabel {
            flex-grow: 1;
            height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 22px;
            letter-spacing: 0.04px;
            white-space: nowrap;
            color: var(--Text-color-text-1, #0c0d0e);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
          }

          .frame5 {
            flex-shrink: 0;
            border-radius: 2px;
            box-shadow: var(
              --shadow-Assembly-Data-entry-Default,
              0px 0px 0px 1px #dde2e9
            );
            background: var(--Fill-color-bg-white, #ffffff);
            width: 14px;
            height: 14px;
            overflow: hidden;
          }

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 16px;
            height: 16px;

            .down {
              position: absolute;
              top: 0;
              left: 0;
              width: 16px;
              height: 16px;
              rotate: -90deg;
            }
          }

          .instance4 {
            display: flex;
            align-items: center;
            column-gap: 8px;
            margin-top: 4px;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
          }

          .frame1410097986 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: #eaedf1;
            background: var(--Background-color-bg-8, #ffffff);
            padding: 6px 5px 0px 6px;

            .instance3 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              border-radius: 4px;
              background: var(--Fill-5, #ffffff);
              padding: 5px 12px;
              width: 228px;
            }

            .instance5 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              margin-top: 4px;
              border-radius: 4px;
              background: var(--Background-2, #f6f8fa);
              padding: 5px 12px;
              width: 228px;
            }
          }

          .instance6 {
            display: flex;
            position: absolute;
            top: 402px;
            left: 6px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .instance7 {
            display: flex;
            position: absolute;
            top: 366px;
            left: 6px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            z-index: 1;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .instance8 {
            display: flex;
            position: absolute;
            top: 330px;
            left: 6px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            z-index: 2;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .frame1410097987 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            z-index: 3;
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: #eaedf1;
            background: var(--Background-color-bg-8, #ffffff);
            padding: 6px 5px 0px 6px;

            .frame1912054065 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 6px;

              .frame1410097636 {
                display: inline-flex;
                flex-shrink: 0;
                align-items: center;
                column-gap: 4px;
                border-radius: 4px;
                background: var(--Background-color-bg-5, #f1f3f5);
                padding: 1px 6px;
                height: 18px;

                .text5 {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: 0.03px;
                  color: var(--Text-color-text-2, #42464e);
                  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 10px;
                  font-weight: 500;
                }
              }
            }

            .frame6 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              border-radius: 4px;
              background: var(--Fill-5, #ffffff);
              padding: 5px 12px;
              width: 228px;
            }

            .frame7 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              margin-top: 4px;
              border-radius: 4px;
              background: var(--Fill-color-bg-white, #ffffff);
              padding: 5px 12px;
              width: 228px;
            }

            .instance9 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              margin-top: 4px;
              border-radius: 4px;
              background: var(--Background-2, #f6f8fa);
              padding: 5px 12px;
              width: 228px;
            }

            .instance10 {
              display: flex;
              align-items: center;
              column-gap: 8px;
              margin-top: 4px;
              border-radius: 4px;
              background: var(--Fill-color-bg-white, #ffffff);
              padding: 5px 12px;
              width: 228px;
            }
          }

          .instance11 {
            display: flex;
            position: absolute;
            top: 402px;
            left: 246px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            z-index: 4;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .instance12 {
            display: flex;
            position: absolute;
            top: 366px;
            left: 246px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            z-index: 5;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .instance13 {
            display: flex;
            position: absolute;
            top: 330px;
            left: 246px;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            z-index: 6;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 5px 12px;
            width: 228px;
            height: 32px;
          }

          .frame1410097988 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            z-index: 7;
            border-width: 0px 1px 0px 0px;
            border-style: solid;
            border-color: #eaedf1;
            background: var(--Background-color-bg-8, #ffffff);
            padding: 6px 5px 6px 6px;
            row-gap: 4px;

            .instance14 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              align-self: stretch;
              column-gap: 8px;
              border-radius: 4px;
              background: var(--Fill-5, #ffffff);
              padding: 5px 12px;
            }
          }
        }
      }

      .frame1410098002 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        box-shadow: var(--shadow-Border-left, -1px 0px 0px 0px #eaedf1);
        background: var(--Fill-color-bg-white, #ffffff);
        overflow: hidden;

        .delete {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .checkbox {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 2px;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-color: var(--Line-color-border-2, #eaedf1);
          padding: 10px 12px 9px 18px;
          min-width: 276px;
          height: 42px;

          .text8 {
            flex-shrink: 0;
            width: 200px;
            line-height: 22px;
            letter-spacing: 0.04px;
            color: var(--Text-color-text-2, #42464e);
            font-size: 13px;

            .text6 {
              line-height: 22px;
              letter-spacing: 0.04px;
              color: var(--Text-color-text-2, #42464e);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 600;
            }

            .text7 {
              line-height: 22px;
              letter-spacing: 0.04px;
              color: var(--Text-color-text-2, #42464e);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 500;
            }
          }

          .icDelete {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 9px;
            border-radius: 4px;
            background: var(--Fill-color-bg-white, #ffffff);
            padding: 7px;
            width: 24px;
            height: 24px;
          }
        }

        .frame1410098001 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          padding-right: 4px;
          padding-left: 6px;

          .instance16 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 4px;
            overflow: hidden;

            .instance15 {
              display: flex;
              flex-grow: 1;
              flex-shrink: 0;
              align-items: center;
              justify-content: space-between;
              border-radius: 4px;
              background: var(--Fill-color-bg-white, #ffffff);
              padding: 6px 12px;
              width: 268px;
              min-width: 268px;
              height: 40px;

              .iconWrapper2 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                overflow: hidden;
              }
            }
          }

          .instance17 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;
            border-radius: 4px;
            padding: 6px 12px;
            min-width: 268px;
            height: 40px;

            .aComponentIcon {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 8px;
              background: var(--Background-icon-color-bg-6, #1a1b1e0d);
              padding-right: 1px;
              padding-bottom: 1px;
              overflow: hidden;

              .close2 {
                width: 16px;
                height: 16px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
